node_modules
dist
.tmp
.sass-cache
app/bower_components
web/node_modules

web/src/css
web/src/js

*.sass-cache
*.idea
*.iml

npm-debug.log
client_secret.json
go-grive
go-grive.exe

bower
bower_components
web/scss/material
*.dmp
*.out
*.log
*.TMP